#header {
    height: 100px;
    border-bottom: 2px solid grey;
    background-color: sandybrown;
}

#header div {
    text-align: center;    
}

#date {
    padding-bottom:10px;
}
#title {
    font-size: 50px;
    padding: 10px;  
}

#footer {
    height: 150px;
    border-top: 2px solid grey;
    background-color: sandybrown;
}

#brothers {
    height: 70%;
}

.brother-page {
    width: 50%;
    height: 100%;
    float: left;
}

#health {
    background-color: #800000;
    color: white; // Set the text color to white.
}

#environment {
    background-color: darkgreen;
    color: white; // Set the text color to white.
}

#settings {
    width: 350px;
    margin: 0 auto;
    font-size:50px;
    margin-top: 30px;  
}

.menu, .content, .vertical, .horizontal {
    display: none;
}