#header {
    height: 100px;
}

#footer {
    height: 100px;
}

#brothers {
    height: calc(100% - 100px - 100px);
}

.brother-page {
    width: 50%;
    height: 100%;
    float: left;
}

#health {
    background-color: red;
    color: white; // Set the text color to white.
}

#environment {
    background-color: green;
    color: white; // Set the text color to white.
}

.menu, .content, .vertical {
    display: none;
}